body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(0, 0, 0, 0.886);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.374);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 360px;
}

h1 {
    color: white;
    margin-bottom: 24px;
}

.input-group {
    margin-bottom: 20px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 14px 20px;
    background-color: #5C67F2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.login-button:hover {
    background-color: #2dbd43; 
}

.loader {
    display: inline-flex;
    gap: 10px;
  }
  .loader:before,
  .loader:after {
    content: "";
    height: 7rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      linear-gradient(#222 0 0) top/100% 0% no-repeat,
      radial-gradient(farthest-side,#000 95%,#0000) 50%/8px 8px no-repeat
      #fff;
    animation: l9 4s infinite ease-in;
  }
  @keyframes l9 {
    0%  {background-size:100% 0%,8px 8px;background-position:top, 50% 50%}
    80% {background-size:100% 70%,8px 8px;background-position:top, 50% 70%}
    84%,
    100%{background-size:100% 0%,8px 8px;background-position:top, 50% 50%}
  }

  